<style>
.block-margin{
  margin: 20px;
}
.buttons-line{
  margin-left: 35px;
  margin-right: 35px;
}
</style>
<div class="col-lg-6 pe-lg-2 mb-3">
  <div class="card h-lg-100 overflow-hidden">
    <div class="card-header bg-light">
      <div class="row align-items-center">
        <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-da646fce-ec30-455b-996b-edcc86904621" id="dom-da646fce-ec30-455b-996b-edcc86904621">
          <span class="badge rounded-pill badge-soft-primary">Primary</span>
          <span class="badge rounded-pill badge-soft-secondary">relevant</span>
          <span class="badge rounded-pill badge-soft-success">feb-2022</span>
          <span class="badge rounded-pill badge-soft-info">admin</span>
          <span class="badge rounded-pill badge-soft-warning">backend</span>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="flex-1 block-margin">
        <h5 class="mb-2 fs-0">Description</h5>
        <p class="text-word-break fs--1">The illustration must match to the contrast of the theme. The illustraion must described the concept of the design. To know more about the theme visit the page. </p>
      </div>
    </div>
    <div>
      <button class="btn btn-falcon-primary me-1 mb-1 buttons-line" type="button">Primary
      </button>
      <button class="btn btn-falcon-success me-1 mb-1 buttons-line" type="button">Success
      </button>
      <button class="btn btn-falcon-info me-1 mb-1 buttons-line" type="button">Info
      </button>
    </div>
     
    <div class="card-footer bg-light p-0"><a class="btn btn-sm btn-link d-block w-100 py-2" href="#!">Show all projects</a></div>
  </div>
</div>
